mqtt:
  enabled: false

go2rtc:
  streams:
    biocam1_stream:
      - rtsp://biocam1.cels.anl.gov:554/s2
    biocam2_stream:
      - rtsp://biocam2.cels.anl.gov:554/s2
    biocam3_stream:
      - rtsp://biocam3.cels.anl.gov:554/s2
    rplcam17_stream:
      - rtsp://admin:rplcam17@rplcam17.cels.anl.gov:554
    panopticon1_stream:
      - rtsp://admin@panopticon1.cels.anl.gov:554
    biocam1:
      - ffmpeg:biocam1_stream#video=h264#rotate=90
    biocam2:
      - ffmpeg:biocam2_stream#video=h264#rotate=90
    biocam3:
      - ffmpeg:biocam3_stream#video=h264#rotate=90+
    rplcam17:
      - ffmpeg:rplcam17_stream#video=h264
    panopticon1:
      - ffmpeg:panopticon1_stream#video=h264

birdseye:
  enabled: true
  mode: continuous
  width: 1920
  height: 1080

detect:
  enabled: false

cameras:
  biocam1:
    ffmpeg:
      # hwaccel_args: preset-nvidia-h264
      inputs:
        - path: rtsp://localhost:8554/biocam1

  biocam3:
    ffmpeg:
      # hwaccel_args: preset-nvidia-h264
      inputs:
        - path: rtsp://localhost:8554/biocam3

  biocam2:
    ffmpeg:
      # hwaccel_args: preset-nvidia-h264
      inputs:
        - path: rtsp://localhost:8554/biocam2

  rplcam17:
    ffmpeg:
      # hwaccel_args: preset-nvidia-h264
      inputs:
        - path: rtsp://localhost:8554/rplcam17

  panopticon1:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/panopticon1


version: 0.14
camera_groups:
  Everything:
    order: 1
    icon: LuActivity
    cameras:
      - birdseye
      - biocam1
      - biocam2
      - biocam3
      - panopticon1
      - rplcam17
